body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
}

.scores-container {
    display: flex;
    justify-content: space-around;

}

.score-box {
    text-align: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 5px;
}

.btn {
    margin: 30px;
    border-radius: 5px;
}

.sign {
    font-size: 50px;
    padding: 25px;
}